<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @picture.name %>
</p>

<p>
  <b>Description:</b>
  <%= @picture.description %>
</p>
<p>
  <b>Photo:</b>
  this is @picture.photo.url
  id <br>

  <%= @picture.id %>
  
  
<%= @picture.inspect %>


  
<p>
  hardcoding link to /assets/photos works.
  <img src="/assets/photos/12/medium/family.jpg"><br/>  
</p>
<p>    
  <b>Tags</b>
  <%= @picture.tags %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
